body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

.container{
  display: flex;

}
.cvleftside{
  flex: 100%;
  padding: 20px;
  max-width: 265px;
  background-color: rgb(21, 21, 71);
  border-right: gray;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}
.kontaktdaten{
  font-size: 30px;
  margin-top: 20px;
  align-items: center;
}
.q{
  font-size: 20px;
  margin-top: 50px;
  
}
.a{
  font-size: 16px;
  margin-bottom: 15px;
}
.cvrightside{
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  margin-top: 0px;
}

.cvphoto{
  flex: 1;
  max-width: 300px;
  max-height: 250px;
  border-radius: 20%;
  margin-top: 20px;
  margin-right: 20px;
  }
  .cvinfo{
    flex: 3;
  }
  .cvimage{
    flex: 1;
  }


h1{
  margin-bottom: 10px;
}
h5{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
}
.subtitle{
  font-size: 18px;
  color: gray;
  margin-bottom: 20px;
}

h2{
  margin-bottom: 10px;
}

ul{
  list-style-type: disc;
  margin-left: 20px;  
  margin-bottom: 20px;
}
.Berufserfahrung{
  display: flex;

}
.dates{
  display: flex;
  flex: 1;
  flex-direction: column;
}
.experience{
  display: flex;
  flex: 2;
  flex-direction: column;
}
.dates2{
  flex: 1;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(54, 54, 54);
  margin-bottom: 100px;
  margin-right: 30px;
}
.experience2{
  flex: 1;
  margin-bottom: 40px;
  margin-left: 20px;
}
h3{
  color: rgb(0, 80, 184);
}
h4{
  font-size: 15px;
  color: ;
}
.ausbildung{
  display: flex;
}
h5{
  color: rgb(114, 113, 113);
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 17px;}
